*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav {
    display : flex;
    align-items:center;
    justify-content: space-between;
    background: #e7feff;
    padding:20px 80px;
    width: 100%;
}
.navbar ul {
    display:flex;
    align-items: center;
    justify-content: center; 
}
.logo{
    /* background: url(../assets/images/logo.png); */
    /* background-size: cover; */
    width:15rem
    
}
.navbar li {
    list-style:none;
    padding:0 20px;
    position:relative;
}
.navbar  a {
    font-family: monospace;
    text-decoration: none;
    font-size:1.2rem;
    font-weight: 800;
    color: #1f0707;
    transition: 0.3s ease-in-out;
}

.navbar li a:hover{
  color:#1f0707
}

#mobile {
    display:none;
}

@media screen and (max-width:768px)  {
 
    /* .navbar li{
    display:flex;
    align-items: center;
    justify-content: center; 
    }
    .navbar.expanded{
        right:0px;
    }
    .navbar::hover {
        color:black;
    }

    .navbar li {
        margin-bottom: 25px;
    }
    .navbar li:hover {
        background-color: #17cf97;
        border-radius: 5px;
    }
  
   */
   .navbar {
    display: none;
    position:absolute;
    top:70;
    left:0;
    flex-direction: column;
    width:100%;
    height:cal(100vh-77px);
    background-color: aquamarine;
    border-top: 1px solid black;
    align-items: center;
    justify-content: center;
   }
   .navbar li {
    text-align: center;
    margin:0;
   }
   .navbar li a {
    color:block;
    width:100%;
    padding:1.5rem 0;
   }
   .navbar li:hover{
    background-color: #eee;;
   }
    .navbar.expanded ul {
        display: block;
       
      }
    
  #mobile {
    display:block;
    font-size: 2em;
    height: 40px;
    width: 40px; 
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
   
  }
  .logo{
    width:10em
    
}


}

